.base {
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.header {
  align-items: center;
  background-color: #E41E26;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(15px + 1vmin);
  justify-content: center;
  min-height: 10vh;
}

.smash {
  min-height: 50vh;
  margin: 5px;
}

.board-row {
  clear: both;
  display: block;
  float: left;
}

#message {
  float: none;
  font-size: calc(10px + 1vmin);
}

.flavor-theme-title {
  display: inline-block;
  height: 10vh;
  padding-right: 10px;
  position: relative;
}

.flavors {
  display: inline-block;
  height: 10vh;
  position: relative;
}

.unselected {
  border-radius: 50%;
  height: 20px;
  margin: 2px;
  margin-right: 10px;
  padding: 2px;
  width: 20px;
}

.selected {
  border-radius: 50%;
  box-shadow: 0 0 5px 5px #dcdcdc;
  height: 20px;
  margin: 2px;
  margin-right: 10px;
  padding: 2px;
  width: 20px;
}
