.base {
  font-family: "Comic Sans MS", "Comic Sans", cursive;

  display: flex;
  flex-flow: column wrap;
  font-size: calc(12px + 1vmin);
  justify-content: center;
  text-align: center;

  width: 80%;
  margin: auto;
}

.header {
  border: 1px black solid;
}

.info {
  font-size: calc(8px + 1vmin);
  padding: 10px;
}

.flavors {
  border: 1px black solid;

  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  list-style: none;
  margin: auto;
  padding: 5px;
}

.bag-name {
  border: 1px red solid;

  font-size: calc(10px + 1vmin);
  width: 40%;
}

.unselected {
  border-radius: 50%;
  height: 20px;
  margin: 2px;
  margin-right: 10px;
  padding: 2px;
  width: 20px;
}

.selected {
  border-radius: 50%;
  box-shadow: 0 0 5px 5px #dcdcdc;
  height: 20px;
  margin: 2px;
  margin-right: 10px;
  padding: 2px;
  width: 20px;
}
